## **List and Tuples**

In this tutorial, we will learn about the following data structures:

* List
* Tuple

We will solve some problems to get a better understanding of these data structures and their built-in functions.

#### **Problem 01**
Create the following list using the list constructor and store it in a variable named `my_list`:

`[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`

Then, print the list.

In [ ]:
# Write your code here

#### **Problem 02**
Create the following list using the list constructor and store it in a variable named `my_list`:

`[103, 102, 101, 100, 99, 98, 97, 96, 95, 94]`

Print the values at the odd indices of the list.

In [ ]:
# Write your code here

#### **Problem 03**
Create the following list using the list constructor and store it in a variable named `my_list`:

`[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`

Then, print how many elements are in the list.

In [ ]:
# Write your code here

#### **Problem 04**
Find the maximum and minimum values in the following list and store them in variables named `max_value` and `min_value` respectively:

`[13, 3, 5, 7, 11, 2, 17, 19]`

Then, print the maximum and minimum values.

In [ ]:
# Write your code here

#### **Problem 05**
Create a list of following words and store it in a variable named `my_list`:

`['apple', 'banana', 'orange', 'grape', 'mango']`

Print the word that comes first in the dictionary and the word that comes last in the dictionary from the list. Store theses words in variables named `first_word` and `last_word` respectively. Then, print the first and last words.

In [ ]:
# Write your code here

#### **Problem 06**
Create a list of 5 numbers taken from the user and append them to a list named `my_list`. Then, print sum and average of the numbers in the list.

In [ ]:
# Write your code here

#### **Problem 07**
Consider the following list:

`[1,3,5,7,9,11,13,15,17,19]`

Insert the following numbers at the odd indices of the list:

`[2,4,6,8,10,12,14,16,18,20]`

Then, print the list.

In [ ]:
# Write your code here

#### **Problem 08**
Consider the following list:

`[1,2,3,4,5,6,7,8,9,10]`

Remove the elements at the odd indices of the list. Then, print the list.

In [ ]:
# Write your code here

#### **Problem 09**

Consider the following list:

`[3, 4, 5, 9, -1, -1, 0, 2, 1, 6, 7, 8]`

Remove all instances of -1 from the list. Then, print the list.

In [ ]:
# Write your code here

#### **Problem 10**
Create a list of 5 cities taken from the user and store them in a variable named `cities`. Sort the list in alphabetical order and store it in a variable named `sorted_cities`. Then, print the sorted list.

In [ ]:
# Write your code here

#### **Problem 11**
Create a tuple of 5 numbers taken from the user and store it in a variable named `numbers`.

Create another tuple of 5 cities taken from the user and store it in a variable named `cities`.

Then, print the tuple of numbers and the tuple of cities.

In [ ]:
# Write your code here

#### **Problem 12**
Create a tuple named `mixed` and insert following values: 'apple', 75, 3.14, True, 'Abdullah', 'Dhaka'. Then, calculate the summation of the numbers in the tuple and print the result.

In [ ]:
# Write your code here

#### **Problem 13**
Change the value "apple" to "orange" in the following tuple:

`('apple', 75, 3.14, True, 'Abdullah', 'Dhaka')`

Then, print the tuple.

In [ ]:
# Write your code here

#### **Problem 14**
Merge the following two tuples:

`('Dhaka', 'Chittagong', 'Rajshahi', 'Khulna', 'Barisal')`

`('Sylhet', 'Rangpur', 'Mymensingh')`

Then, print the merged tuple.

In [ ]:
# Write your code here

#### **Problem 15**
Create a tuple named `my_tuple` and insert following values: 'apple', 75, 3.14, True, 'Abdullah', 'Dhaka'.

Execute the following code and observe the output:

```python
print(my_tuple[0])
print(my_tuple[1:4])
print(my_tuple[-1])
print(my_tuple[-2:])
print(my_tuple[1:-1:2])
```

Explain the output of the above code.

In [ ]:
# Write your code here